/* Loader Styles */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ff6347;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Weather Icon */
.weather-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

/* Error Message */
.error {
    color: red;
    margin-top: 20px;
}
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('th.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    color: #fff; /* Change text color to white for readability */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #052441;
    margin-bottom: 70px;
    font-size: 66px;
}

#locationInput {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #041242;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #557ca5;
}

.weather-display {
    margin-top: 20px;
}

.hidden {
    display: none;
}
